@CHARSET "UTF-8";

/* nicolasgo 2015-07-27 typographic improvements */

.single .article .meta a, .single .article .feedback a,
.single .entry-content p a:hover, .single .entry-content ul li a:hover,
.single .entry-content ol li a:hover,
.single #content p a, .single #content ul a, .single #content ol a,
.single #content h1 a, .single #content h2 a, .single #content h3 a,
.single .navbar .nav li.active-blue > a,
.single .more_by a, .single .prev-next a,
.single .entry-content h2 a, .single .entry-content h3 a {
  color: #1290E8;
}


.single .article p, .single .article ul li,
.single .article ol li, .single .article p input,
.single .article .meta, .single .article .feedback,
.single .document{
    font-size: 21px;
    font-family: "chaparral-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818;
    line-height: 30px;
}

.single .article .meta, .single .article .feedback {
    font-size: 16px;
}

code, pre, tt {
    font-family: "source-code-pro", monospace;
    font-size: 14px;
}

.entry-content h1{
    font-size: 32px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818;
    line-height: 35px;
    font-weight: bold;
    margin-top: 25px;
}

.entry-content h2{
    font-size: 28px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818;
    line-height: 35px;
    text-shadow: none;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
}

.entry-content h3{
    font-size: 21px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818;
    line-height: 30px;
    text-shadow: none;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 20px;
}

.entry-content h4{
    font-size: 18px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818;
    line-height: 25px;
    text-shadow: none;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 20px;
}

.entry-content blockquote{
    font-weight: lighter;
    font-style: italic;
    border-left: 2px solid #181818;
    padding-left: 20px;
    margin-left: -22px;
}


.single .entry-content p a, .single .entry-content ul li a, .single .entry-content ol li a,
.single .entry-content h2 a, .single .entry-content h3 a, .single .entry-content h4 a{
    color: #181818!important;
    text-decoration: none!important;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 93%, #1290E8 93%);
}

.single .entry-content p a:hover, .single .entry-content ul li a:hover, .single .entry-content ol li a:hover,
.single .entry-content h2 a:hover, .single .entry-content h3 a:hover, .single .entry-content h4 a:hover{
  color: #1290E8!important;
}

.single .entry-content p img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin: auto;
    max-width: 90%;
    display: block;
}

.single .entry-content p img.wp-smiley {
  display: inline;
}

.single h1 a{
    font-size: 24px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #181818!important;
    text-shadow: none;
    font-weight: bold;
    text-transform: uppercase;
}

.single .article h3{
    color: #181818;
    margin-top: -20px;
    margin-bottom: 10px;
}

.single .post h3 {
    font-family: "chaparral-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
