/*
 Theme Name:   Theodo
 Description:  Theodo customization
 Author:       Nicolas Girault
 Author URI:   http://github.com/nicgirault
 Template:     readme
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         coauthor
 Text Domain:  readme-child
*/

.site-header img {
    max-height: 30px;
    margin-top: -8px;
}
.read-next {
    display: none;
}
@media screen and (min-width: 768px){
pre code {
    margin-top: 0px;
    margin-bottom: 0px;
}
}
pre code {
    margin-top: 0px;
    margin-bottom: 0px;
}

share-button {
    position: absolute;
    right: 40px;
    top: 10px;
    border:
    text-transform: uppercase;
    font-size: .9em;
    font-family: 'Noticia Text', Georgia, serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    display: inline;
    letter-spacing: 0;
    border: 2px solid #777;
    border: 2px solid rgba(0, 0, 0, 0.65);
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
    background: transparent;
    color: #333;
}

share-button:hover {
    color: rgba(51,51,51,0.8);
    background: transparent;
}

share-button::before {
  top: 10px;
}

share-button .sb-social ul li:before, share-button .sb-social ul li:after {
    -webkit-transform: translate(-24%,0);
    -ms-transform: translate(-24%,0);
     transform: translate(-24%,0);
}

share-button .sb-social ul li {
    width: 50px;
}

/* Syntax Highligther */
.theodo-code-syntax-highligther {
    border-radius: 4px;
}
.theodo-code-syntax-highligther div.container {
    margin: 20px !important;
}

/* Jobs header button */
#menu-item-4154 {
    background-color: #6ABE9F;
    width: 90px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    border-radius: 10px;
    text-transform: uppercase;
}

#menu-item-4154 > a {
    color: white;
}

/* Join Us post button */
#join-us-post-button {
    background-color: #7EBCA1;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
